/* ---------- Form ---------- */

#predForm {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

  width: min(600px, 90%);
  margin: 60px auto;
  padding: 30px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

#predForm h2 {
  color: white;
  text-align: center;
  margin: 0;
}


/* ---------- Gender ---------- */

.predRadio {
  appearance: none;
  opacity: 0;
  position: absolute;
}

.radioGroup {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.radioLabel {
  flex: 1;

  padding: 14px;

  text-align: center;

  color: rgba(255,255,255,.45);
  font-size: 1.5rem;
  font-weight: 600;

  cursor: pointer;

  background: rgba(255,255,255,.05);
  border: 2px solid rgba(255,255,255,.35);
  border-radius: 10px;

  transition: .2s;
}

.radioLabel:hover {
  color:white;
}

.maleSelected {
  border-color:#5fb8ff;
  color:white;
  background:rgba(95,184,255,.18);
}

.femaleSelected {
  border-color:#ff86b3;
  color:white;
  background:rgba(255,134,179,.18);
}


/* ---------- Inputs ---------- */

#predInputs {
  display:flex;
  flex-direction:column;
  gap:20px;
}


#predInputs label {
  display:flex;
  flex-direction:column;
  gap:8px;

  color:white;
  font-size:1.2rem;
  font-weight:600;
}


/* Input styling */

#dateInput,
#heightInput,
#weightLbsInput,
#weightOzInput {

  padding:10px;

  font-size:16px;

  border:1px solid white;
  border-radius:8px;

  background:white;
}


/* Sizes */

#dateInput {
  width:100%;
  max-width:250px;
}

#heightInput {
  width:80px;
}

/* Weight inputs */

.weightInputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

#weightLbsInput {
  width: 60px;
}

#weightOzInput {
  width: 60px;
}

/* Weight inputs side by side */

#predInputs label:last-child {
  flex-direction:column;
}

#predInputs label:last-child input {
  display:inline-block;
}

#weightOzInput {
  margin-left:10px;
}




/* ---------- Button ---------- */

#predForm button {

  width:100%;

  padding:16px;

  border:2px solid white;
  border-radius:999px;

  background:rgba(255,255,255,.18);

  color:white;

  font-size:20px;
  font-weight:bold;

  cursor:pointer;

  transition:.2s;
}

#predForm button:hover {
  transform:translateY(-2px);
}


/* ---------- Mobile ---------- */

@media(max-width:600px){

  #predForm {
    width:90%;
    padding:20px;
  }

  .radioGroup {
    flex-direction:column;
  }

  #dateInput {
    width:50%;
    max-width:none;
  }
}