html {
  background: #1500ff;
  background: linear-gradient(
    90deg,
    rgba(21, 0, 255, 1) 0%,
    rgba(255, 54, 191, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: 600;
  color: white;
  padding: 6px;
  text-decoration: none;
}
